<!DOCTYPE html>

{%load static %}

<html>
<style>
img.resize{
   max-width:100%;
   max-height:100%;
}
</style>
    <head>
        <title>About</title>
    </head>

    <body>
        <h1>About This Project</h1>
        This project was a coding challenge given to me by the <a href="https://www.codefellows.org/">Code Fellows</a> team. I was to create a Django app that allows a user to create, edit, update, and delete other users. Users are required to have a first name, optional last name and valid email address. I added in a username and password for login functionality, along with an optional website and picture just for fun.<br>
<br>
Another part of the coding challenge was to make a simple html To-Do list- you can find that <a href="/rango/todo">here.</a> To see the code, click <a href="http://jsfiddle.net/tpeek/kssycd9z/2/">here.</a><br>
<br>
To see yet another part of the coding challenge, click <a href="http://repl.it/klH">here.</a> I was to model a library using Python classes.

        
	<img class="resize" src="{% static "s.jpg" %}" alt="Picture of Mountains" /> <br>
<a href="/rango/">Home</a><br />
    </body>

</html>