<!DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        {% if user.is_authenticated %}
	<h1>Rango says... hello {{ user.username }}!</h1>
	{% else %}
	<h1>Rango says... hello world!</h1>
	{% endif %}

        {% if user_list %}
            <ul>
                {% for user in user_list %}
                <!-- Following line changed to add an HTML hyperlink -->

<li><a href="/rango/user/{{ user.getUsername }}">{{ user.getUsername }}</a></li>

                
                {% endfor %}
            </ul>
       {% else %}
            <strong>There are no users present.</strong>
       {% endif %}




	{% if user.is_authenticated %}
		<a href="/rango/restricted/">Restricted Page</a><br />
		<a href="/rango/logout/">Logout</a><br />
	{% else %}
		<a href="/rango/register/">Add a User</a><br />
		<a href="/rango/login/">Login</a><br />
	{% endif %}
    </body>
</html>